<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')%>
<body>
    <div class="alinear">
      <%- include('partials/leftmenu')%>
        <div id="right">
          <div id="botones">
            <%- include('partials/buttons')%>
          </div>
          <div id="contenido">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card  mb-3">
                            <div class="card-body">
                                <div class="row text-center">
                                   <a href="administracion/stock" ><i class="fas fa-cubes iconoboton"></i>Administración Stock</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card  mb-3">
                            <div class="card-body">
                                <div class="row text-center">
                                    <a href="administracion/paciente" ><i class="fas fa-user iconoboton"></i>Administración Paciente</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card  mb-3">
                            <div class="card-body">
                                <div class="row text-center">
                                    <a href="administracion/calendario" ><i class="fas fa-calendar-days iconoboton"></i>Administración Calendario</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card  mb-3">
                            <div class="card-body">
                                <div class="row text-center">
                                    <a href="administracion/centro" ><i class="fas fa-building iconoboton"></i>Administración Centro</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div><!--cierre fila-->
                
               <!--<div class="row">
                    <div class="col-md-3">
                        <div class="card  mb-3">
                            <div class="card-body">
                                <div class="row text-center">
                                    <a href="administracion/facturacion" ><i class="fas fa-file-invoice-dollar iconoboton"></i>Administración Facturación</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card  mb-3">
                            <div class="card-body">
                                <div class="row text-center">
                                    <a href="administracion/presupuesto" ><i class="fas fa-file-invoice iconoboton"></i>Administración Presupuesto</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div><!--cierre container-->
          </div>

        </div>
    </div>    

            
    
        
        <%- include('partials/footerJS')%>
    </body>
    </html>