/* Estilo para centrar la imagen */
img {
    display: block;
    margin: 0 auto;
}
/* Estilo para poner el fondo en blanco */
body {
    background-color: white;
    
}
/* Estilo para fijar el pie al final de página*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.alinear a, 
.alinear a:hover,
.alinear a:focus{
    color: inherit;
    text-decoration: none;

}
.alinear{
    
    display: flex;
    width: 100%;
    height: 100vh;
}
#left{
    position: fixed;
    height: inherit;
}

#leftmenu{
    position: fixed;
    width: 220px;
    background: rgb(69, 69, 199);
    color:white;
    /*overflow-y: scroll;*/
    height: inherit;
}

/*#lista{
    overflow-y: none;
}*/

#leftmenu .encabezado{
    padding: 20px;
    background: rgb(51, 51, 141);
}
#leftmenu ul li{
    padding: 5px;
    
    
}

#leftmenu ul li a{
    padding: 10px;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
}

#leftmenu ul a{
    width:100%;
}


#leftmenu ul a:hover{
    background:white;
    color:rgb(69, 69, 199);

}

#leftmenu ul ul a{
    padding-left: 30px ;
    font-size: 14px ;

}


#leftmenu ul li a i{
    padding-right: 5px ;

}

.fastoptions{
    padding: 15px;
    border-bottom: 1px solid rgb(192, 192, 192);
    /*width: 100%;*/
    
}



#logoIndex{
    max-width: 200px;
}

#logoLeft{
    max-width: 150px;
}

#buscador{
    margin: 2em;
    display: inline-block;
}

#buscador button, #buscador input{
    margin: 5px;
}
#contenido{
    
    margin-top: 100px ;
    /*border: 2px solid red;*/
}

#botones{
    background: white;
    position: fixed;
    width: -webkit-fill-available;
    /*border: 2px solid black;*/
}
#right{
    left: 220px;
    width: -webkit-fill-available;
    position: absolute;

}

.nav-item-divider {
    height: 1px;
    margin: 1rem 0;
    overflow: hidden;
    background-color: rgba(236, 238, 239, 0.3);
}

#cierre{
    
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 10px;
}
/*#cierre a{
    padding: 20px;
}*/

#cierre a i{
    padding: 5px;
}

#botonesmodal{
    text-align: center;
    padding: 10px;
}

.iconoboton{
    padding: 5px;
}

/*.cajabuscador{
    border:1px solid blue;
}

.usuarios{
   
    border:1px solid pink;
    
}*/
.paciente, .cabecerapaciente{
    /*border: 1px solid purple;*/
    margin: 2px;
    
}
.cabecerapaciente{
    border-bottom: 2px solid rgb(202, 202, 255);
    font-weight: 500;
}

.paciente a{
   display: inline-flex;
   padding:0px;
    
}

.paciente:hover{
    background: rgb(69, 69, 199);
    color:white;
    cursor:pointer;
}
#borrarcomentario{
    color: white;
}


.ok {
    color: rgb(132, 211, 14);
}

.nok {
    color: red;
}
.war {
    color: orange;
}

.enviado{
    color:rgb(37, 204, 255);
}
.salvar{
    font-size: x-large;
}
.spanModal{
    font-size:x-small;
}


.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
    --bs-tooltip-arrow-height:0px;
  }
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }



.card {
    position: inherit;
    
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
    margin-right: .5rem!important;
}

.wrapper{
    max-width: 450px;
    
}

.wrapper .search-input{
    position: relative;
    background: white;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12) ;
}


.search-input input{
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);

}
.search-input input:focus{
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);

}
.search-input .icon{
  height: 40px;
  width: 40px;
  line-height: 40px;
  position:absolute;
  top:0;
  right:0;
  text-align: center;
  cursor:pointer;  
}
.search-input .autocom-box{
    /*padding: 10px 8px;*/
    max-height: 150px;
    overflow-y: auto;
    list-style: none;
    padding-left: 10px;
    /*opacity: 0;
    pointer-events: none;*/
}


.autocom-box li{
    
    padding-top: 4px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
   /* display: none;*/
}

.autocom-box li:hover{
    background:rgba(146, 195, 235, 0.1);

}

.descuento{
    margin-bottom: 0px;
}

.tipoColor{
    height: 40px;
}

.tablaProductos, .tablaVentas, .tablaPresupuestos, .tablaPedidos{
    max-height: 600px;
    overflow-y: scroll;
}

.tp{
    width: 120px;
}
.ptp{
    padding:3px;
}

.colorCita{
    height: 20px;
}

.iconoEvento{
    padding: 2px;
}

.imageProfile{
    max-width: 35px;
    border-radius: 50%;
}

.imagenCompany{
    max-width: 150px;
}

.botonventas{
    color: white;
}