<div class="fastoptions col-md-12 text-center"> 
    <button type="button" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#modalAddPatient"><i class="fas fa-user-plus iconoboton"></i>Crear Paciente</button>
    <button type="button" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#modalAddProduct"><i class="fas fa-box iconoboton"></i>Nuevo Producto</button>
    <button type="button" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#modalPresupuesto"><i class="fas fa-file-invoice iconoboton"></i>Crear Presupuesto</button>
    <button type="button" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#modalPresupuesto"><i class="fas fa-cart-plus iconoboton"></i>Nueva Venta</button>
</div>