
<nav id="leftmenu">
    <div class="encabezado">
        <img src="/img/logoAudio.png"  id="logoLeft">
        <!--<h3>AudioAPP</h3>-->
    </div>
<ul class="list-unstyled" id="lista">
    <!--<li><a href="#usuarios" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-users"></i>Pacientes</a>
        <ul class="collapse list-unstyled" id="usuarios">
            <li><a href="#">Todos</a></li>
            <li><a href="#">Agregar</a></li>
        </ul>
    </li>-->
    <li><a href="/pacientes" active><i class="fas fa-users"></i>Pacientes</a></li>
    <!--<li ><a href="#productos" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-box"></i>Stock</a>
        <ul class="collapse list-unstyled" id="productos">
            <li><a href="/productos">Productos</a></li>
            <li><a href="/pedidos">Pedidos</a></li>
        </ul>
    </li>-->
    <li><a href="/calendario"><i class="fas fa-calendar-days"></i>Calendario</a></li>
    <li><a href="/productos"><i class="fas fa-box"></i>Stock</a></li>
    <li><a href="/pedidos"><i class="fas fa-dolly"></i>Pedidos</a></li>
    
    <li><a href="/presupuestos"><i  class="fas fa-file-invoice"></i>Presupuestos</a></li>
    <li><a href="/ventas"><i  class="fas fa-cart-shopping"></i>Ventas</a></li>
    <!--<li><a href="/reparaciones"><i  class="fas fa-wrench"></i>Reparaciones</a></li>-->
    <% if (usersession && usersession.isAdmin==1){ %> 
    <li><a href="/administracion"><i  class="fas fa-user-lock"></i>Administración</a></li>
    <%}%> 
</ul>
<div id="cierre">
    <div class="nav-item-divider"></div>
    <div class="row">
        <div class="col-md-3"><img class="imageProfile" src="/img/img_avatar2.png" alt="Avatar"></div>
        <div class="col-md-6" style="padding-top: 2px;">
            <% if (usersession){%>
            <div class="row"> <%= usersession.email %></div>
            <div class="row"><span class="spanModal"> <% if (usersession.isAdmin == 1) { %> Administrador <% } else { %> Usuario <% } %> </span>
              
            </div>
            <% }%>    
        </div>
    </div>
    <div class="row">
        <a href="/auth/logout"><i class="fas fa-sign-out-alt"></i>Log off</a> 
    </div>
    
   
    
</div>
  
</nav>