
<nav id="leftmenu">
    <div class="encabezado">
        <img src="img/logoAudio.png"  id="logoLeft">
        <!--<h3>AudioAPP</h3>-->
    </div>
<ul class="list-unstyled" id="lista">
    <!--<li><a href="#usuarios" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-users"></i>Pacientes</a>
        <ul class="collapse list-unstyled" id="usuarios">
            <li><a href="#">Todos</a></li>
            <li><a href="#">Agregar</a></li>
        </ul>
    </li>-->
    <li><a href="pacientes"><i class="fas fa-users"></i>Pacientes</a></li>
    <li ><a href="#productos" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-box"></i>Productos</a>
        <ul class="collapse list-unstyled" id="productos">
            <li><a href="#">Todos</a></li>
            <li><a href="#">Agregar</a></li>
        </ul>
    </li>
    <li><a href="#"><i class="fas fa-calendar"></i>Calendario</a></li>
    <li><a href="#"><i  class="fas fa-wrench"></i>Reparaciones</a></li>
    <li><a href="#"><i  class="fas fa-user-lock"></i>Administracion</a></li>
</ul>
<div id="cierre">
    <div class="nav-item-divider"></div>
    <a href="#"><i class="fas fa-sign-out-alt"></i>Log off</a>  
</div>
  
</nav>