<% trabajadores.forEach(t => { %>
<div class="modal" id="modalEditPassword<%=t.id%>">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Cambiar Contraseña</h5>
            </div>
            <div class="modal-body">
                <form action="/administracion/centro/editpassword/<%= t.id %>" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            
                            <input type="password" class="form-control" placeholder="Contraseña" name="validation" minlength="8" required> 
                        </div>
                        <div class="col-md-6">
                            
                            <input type="password" class="form-control" placeholder="Repite Contraseña" name="validation2" minlength="8" required>
                        </div>
                        
                    </div>
                    <br>
                    <div class="modal-footer">
                        <div id="botonesmodal from-group">
                            <button type="submit" class="btn btn-success btn-md" disabled >Guardar</button>
                            <button type="button" class="btn btn-danger btn-md" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<% }) %>
