<div class="modal" id="modalAddProductSale">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Añadir Producto</h5>
            </div>
            <div class="modal-body">
                <form action="/ventas/venta/addproduct/<%= sale.id %>" method="POST">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="wrapper">
                                <label>Seleccione producto</label>
                                <div class="search-input">
                                    
                                    <input class="form-control" type="text" name="productoSeleccionado" id="productoSeleccionado" hidden>
                                    <input type="text" placeholder="Escribe para buscar.." id="buscadorProductosVenta">
                                    <ul class="autocom-box" id="product-list">
                                        

                                    </ul>
                                    <div class="icon"><i class="fas fa-search"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Cantidad</label>
                            <input type="number" id="cantidad" name="cantidad" class="form-control" value="0" step="1" min="0">
                        </div>
                        <div class="col-md-3">
                            <label>Descuento</label>
                            <div class="input-group tipoDesc">
                                <input type="number" id="descuento" name="descuento" class="form-control" value="0" step="1" min="0" max="100">
                                <select class="form-select" name="tipoDesc" id="tipoDesc" data-placeholder="Tipo">
                                    <option value="1">%</option>
                                    <option value="2">€</option>
                                </select>
                            </div>
                            
                        </div>

                        
                        
                        
                    </div>
                    <br>
                    <div class="row">
                        
                        
                    </div>
                    <div class="modal-footer">
                        <div id="botonesmodal from-group">
                            <button type="submit" class="btn btn-success btn-md" >Añadir</button>
                            <button type="button" class="btn btn-danger btn-md" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div> <!-- fin modal-body-->
        </div> <!-- fin modal-content-->
    </div><!-- fin modal-dialog-->
</div><!--fin modal-->
