<div class="modal" id="modalAddComment">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Nuevo Comentario</h5>
            </div>
            <div class="modal-body">
                <form action="/pacientes/comment/add/<%= patient.id %>" method="POST">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea class="form-control" rows="3" placeholder="Nuevo comentario" name="comentario" maxlength="1000" required></textarea>
                        </div>
                        
                    </div>
                    <br>
                    <div class="modal-footer">
                        <div id="botonesmodal from-group">
                            <button type="submit" class="btn btn-success btn-md" >Crear</button>
                            <button type="button" class="btn btn-danger btn-md" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>