<div class="modal" id="modalAddHistory">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Nueva Historia</h5>
            </div>
            <div class="modal-body">
                <form action="/pacientes/paciente/historia/add/<%= patient.id %>" method="POST">
                    <div class="row">
                        
                        <div class="col-md-3">
                            <input type="date" class="form-control" name="fechaHistoria" id="fechaHistoria">
                        </div>
                        <div class="col-md-3">
                            <input type="time" class="form-control" name="horaHistoria" id="horaHistoria">
                        </div>
                        
                        <div class="col-md-3">
                            <select class="form-select" name="tipoHistoria">
                                <option value="0" selected disabled>Tipo</option>
                                <option value="1">Revisión</option>
                                <option value="2">Llamada</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Descripción de la historia" name="descripcionHistoria"></textarea>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <div id="botonesmodal from-group">
                            <button type="submit" class="btn btn-success btn-md" >Añadir</button>
                            <button type="button" class="btn btn-danger btn-md" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div> <!-- fin modal-body-->
        </div> <!-- fin modal-content-->
    </div><!-- fin modal-dialog-->
</div><!--fin modal-->